/* --------------google Fonts---------------- */
@import url('https://fonts.googleapis.com/css2?family=Playball&family=Poppins:wght@400;500;600;700;800&display=swap');

/* Web layout design start*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    position: relative;
    margin: 0 auto; 
    width: 1331px;
    padding: 10px;
    
}
/* This is section 1 design */

.player-banner{
    display: flex;
    justify-content: space-evenly;
    border-radius: 15px;
    align-items: center;
    background: #161616;
}
.player-description{
    width: 45%;
    padding: 1.25em;         /*this is 20 px,*/
}
.player-description h1{
    font-size: 4em;
    font-weight: 700;
    color: #ffffff;
}
.player-description p{
    font-size: 1em;
    color: #fff;
    
}
.btn{
    display: inline-block;
    text-decoration: none;
    background-color: #ff2a7e;
    padding:10px 25px;
    margin-top: 15px;
    border-radius: 5px;
    color: #fff;
    transition: transform 0.2s ease-in;
}
.btn:hover{
    transform: scale(1.1);
}
.player-img{
    width: 45%;
    padding: 20px 20px 0 20px;

}
.player-img img{
    width: 100%;
}


/* This is seciton 2 design */

.card-banner{
    display: flex;
    margin-top: 130px;
   
}
.card-button{
    width: 312px;
    height: 312px;
    background-color:#161616;
    border-radius: 15px;
}
.button{
    position: relative;
    margin: 0 auto;
    padding: 20px 0;
    width: 252px;
    height: 252px;
}
#bg{
    background-color: #ff2a7e;
    color: #fff;
}
.button .btn{
    
    display:block;
    padding: 20px;
    text-decoration: none;
    background-color: #ffffff;
    color: #161616;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
}

.card-hero{
    width: 312px;
    height: 362px;
    border: 1px solid rgba(128, 125, 125, 0.3);
    box-shadow: 2px 2px 4px rgba(128, 125, 125, 0.3);
    border-radius: 10px;
    margin-left: 24px;
}
.card-img img{
    width: 100%;
}
.card-details{
    padding: 0 10px;
   
}
.card-details .btn{
    margin-bottom: 10px;
}
.card-details h4{
    color: #161616;
    margin-bottom: 10px;
}
.card-details span{
    display: inline-block;
    margin-right: 30px;
    
}
.card-details span .fa-regular{
    margin-right: 10px;
}
.tab-view{
    display: block;
    text-align: center;
    margin-top: 20px;
}
/* footer design */
footer{
    width: 1600px;
    padding:120px;
    background-color: #161616;
    margin-top: 10%;
}
footer h1{
    font-size: 2em;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}
hr{
    border: 1px solid rgba(71, 71, 71, 0.7);
    margin-bottom:30px ;
}
.menu{
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.menu a{
    color: #fff;
    text-decoration: none;
    transition: 0.2s all;
}
.menu a:hover{
    color:#ff2a7e
}
.social-icon{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top:40px;
}
.social-icon a{
    display: inline-block;
    padding: 20px;
    color: #fff;
    font-size: 20px;
    transition: 0.2s all;
}
.social-icon a:hover{
    color: #ff2a7e;
}